.container {
  display: flex;
  flex-direction: column;
  align-items: center; // centraliza os filhos horizontalmente
  justify-content: flex-start; // começa do topo
  min-height: 100vh;
  padding: 0rem;
  gap: 0rem; // espaçamento entre os componentes
}
